.*

weexkp/dist
weexkp/node_modules
weexkp/examples

KPFoundation.xcodeproj/project.xcworkspace/xcuserdata/
KPFoundation.xcodeproj/xcuserdata/
KPFoundation.xcworkspace/xcuserdata/

Podfile.lock
Pods/
iOS/KPFoundation.xcodeproj/xcuserdata
iOS/KPFoundation.xcworkspace/
 
IDEWorkspaceChecks.plist
_Pods.xcodeproj
